#prvy input
{
    width: 100%;
}


#druhy input[type=text], #druhy input[type=number]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
    background-color: #caf602;
    color: red;
    font-family: Calibri;
}

img{
    width:60%;
    
}